<div class="container-fluid">
    <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
    [showCaption]="false"></p-galleria>
</div>
<p-dataView #dv [value]="sanphams" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="name"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sắp xếp theo" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-4 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Tìm theo tên" (keyup)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="ui-g-6 ui-md-4" style="text-align:right">
    
            </div>
        </div>
    </div>
</p-header>
<ng-template let-sanpham pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-2" style="text-align:center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdAtGNoF3NsV1W8AjlgiVfY0fB5Xk-MXuCLtM6IKLDTFVEnuAz&usqp=CAU" width="100px">
        </div>
        <div class="ui-g-12 ui-md-8 sanpham-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">ID sản phẩm: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.id}}</b></div>

                <div class="ui-g-2 ui-sm-6">Tên sản phẩm: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.name}}</b></div>

                <div class="ui-g-2 ui-sm-6">Danh mục: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.categoryId}}</b></div>

                <div class="ui-g-2 ui-sm-6">Thương hiệu: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.brandId}}</b></div>

                <div class="ui-g-2 ui-sm-6">Nội dung: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.content}}</b></div>

                <div class="ui-g-2 ui-sm-6">Mô tả ngắn: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.shortDescription}}</b></div>

            </div>
        </div>
        <div class="ui-g-12 ui-md-2 search-icon">
            <div class="ui-g-12"><button pButton style="width:180px" type="button" label="Chi tiết sản phẩm" icon="pi pi-search" [routerLink]="['/chitietsanpham']" (click)="sangtrangchitietSanpham($event, sanpham)" ></button></div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12"><button pButton style="width:150px" type="button" label="Đưa vào giỏ hàng" (click)="handleClick($event, sanpham)" class="ui-button-success"></button></div>
        </div>
    </div>
</ng-template>

</p-dataView>

<!-- <p-dialog header="Chi tiết Phần mềm" [(visible)]="displayDialog" [baseZIndex]="10000" [maximizable]="true" [responsive]="true" showEffect="fade" [modal]="true"   (onAfterHide)="onDialogHide()">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9" *ngIf="selectedsanpham">
        <div class="ui-g-12 ui-md-4" style="text-align:center">
            <img src="{{selectedsanpham.HinhAnh}}" width="120px">
        </div>
        <div class="ui-g-12 ui-md-8 sanpham-details" >
            <div class="ui-g">
                <div class="ui-g-4 ui-sm-6">Tên: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.Ten}}</b></div>

                <div class="ui-g-4 ui-sm-6">Số lượt tải: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.Soluottai}}</b></div>

                <div class="ui-g-4 ui-sm-6">Mô tả: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.MoTa}}</b></div>

                <div class="ui-g-4 ui-sm-6">Loại: </div>
                <div class="ui-g-8 ui-sm-6"><b>{{selectedsanpham.Loai}}</b></div>
            </div>
        </div>
        <div class="comment_block ui-g-12">
                <ng-container *ngFor="let binhluan of binhluans">
                    <ng-container *ngFor="let user of users">
                            <div class="new_comment"  *ngIf="user.ID_User==binhluan.ID_user && binhluan.ID_sanpham==selectedsanpham.ID_SanPham">
                                    current #{user} avatar
                                    <div class="user_avatar">
                                        <img src="{{user.Avatar}}">
                                    </div>
                                    <div class="comment_body">
                                        <p>{{binhluan.Noi_dung}}</p>
                                    </div>
                                </div>
                    </ng-container>
                </ng-container>
                <div class="create_new_comment">
                    <div class="user_avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
                    </div>
                    <div class="input_comment">
                        <input type="text" placeholder="Bình luận về sản phẩm..">
                    </div>
                </div>
            </div>
    </div>
</p-dialog> -->

<!-- <p-dialog header="Thông báo" [(visible)]="displayDownloadDialog" [modal]="true" [responsive]="true" showEffect="fade" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
                     [baseZIndex]="10000" (onAfterHide)="onDialogHide()" *ngIf="selectedsanpham">
                        <p style="margin: 30px; text-align: center;">Bạn chắc chắn sẽ tải ứng dụng {{selectedsanpham.Ten}} chứ ?</p>
                        <p-footer>
                            <a href="{{selectedsanpham.Linktai}}" download>
                                    <button type="button" pButton icon="pi pi-check" (click)="displayDownloadDialog=false; showSuccess();" label="Tải"></button>
                            </a>
                            <button type="button" pButton icon="pi pi-close" (click)="displayDownloadDialog=false" label="Không tải" class="ui-button-secondary"></button>
                        </p-footer>
</p-dialog> -->
<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
