<div class="container-fluid">
  <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
  [showCaption]="false"></p-galleria>
</div>
<div>
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 example-col">
                  <p class="k-block" style="background-color: #787878; color: #ffffff;">
                    <button kendoButton (click)="Themmoisanpham($event)" look="flat">Thêm mới nhân viên</button>
                    </p>
                </div>
        </div>
    <kendo-grid [data]="gridData"
 [pageSize]="state.take"
  [skip]="state.skip"
   [sort]="state.sort"
    [filter]="state.filter"
[sortable]="true"
 [pageable]="true"
  [filterable]="true"
  (dataStateChange)="dataStateChange($event)">
  
          
            <kendo-grid-column field="id" title="ID"></kendo-grid-column>
            <kendo-grid-column field="name" title="Quận">
            <ng-template>
                <div class="ui-g-6 ui-md-3">
                    <!-- <button pButton class="ui-button-success"  type="button" label="Thêm mới nhân viên" (click)="Themmoisanpham($event)"></button> -->
                </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-User>
              <div class="customer-photo">
                  <img src="https://cdn2.iconfinder.com/data/icons/people-round-icons/128/man_avatar-512.png">
              </div>
              <div class="customer-name">
                  {{ User.name }}
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="cityId" title="Thành phố ID"></kendo-grid-column>
          <kendo-grid-column field="cityName" title="Tên thành phố"></kendo-grid-column>
           <kendo-grid-column>  
            <ng-template kendoGridCellTemplate let-User>
                <div>
                    <button kendoButton  (click)="openThemmoi(User)" >Sửa thông tin</button>
                    <button kendoButton  (click)="open(User)" primary="true" >Xóa nhân viên</button>
                </div>
              </ng-template>
          </kendo-grid-column>
</kendo-grid>
<!-- <kendo-window title="{{(selectedUser == null)?'Thêm mới nhân viên':'Chỉnh sửa thông tin nhân viên'}}" (close)="true" [minWidth]="250" [width]="450">

    <form class="k-form">
        <fieldset>
            <legend>Thông tin</legend>
            <label class="k-form-field">
                    <span>ID</span>
                    <input class="k-textbox" placeholder="ID" name="id" [(ngModel)]="id" />
                </label>
            <label class="k-form-field">
                <span>Quận</span>
                <input class="k-textbox" placeholder="Quận" name="name" [(ngModel)]="name" />
            </label>
            <label class="k-form-field">
                <span>Thành phố ID</span>
                <input class="k-textbox" placeholder="Thành phố ID" name="cityId" [(ngModel)]="cityId"/>
            </label>
            <label class="k-form-field">
                <span>Tên thành phố</span>
                <input class="k-textbox" placeholder="Tên thành phố" name="cityName" [(ngModel)]="cityName"/>
            </label>
        </fieldset>

        <div class="text-right">
                <button type="button" class="k-button k-primary" (click)="closeThemmoi();">Lưu</button>
            <button type="button" class="k-button" (click)="closeThemmoi()">Bỏ qua</button>
        </div>
    </form>

</kendo-window> -->
<kendo-dialog title="Xác thực" *ngIf="dialogOpened" (close)="true" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Bạn chắc chắn muốn xóa thông tin quận {{selectedUser.name}} chứ ?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="close('yes'); deleteUser(selectedUser);" primary="true">Có</button>
        <button kendoButton (click)="close('no')" >Không</button>
    </kendo-dialog-actions>
</kendo-dialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>
