<div class="app-body">
    <main >
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-body">
      <h1>Chi tiết sản phẩm</h1>
        <hr>
      <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdAtGNoF3NsV1W8AjlgiVfY0fB5Xk-MXuCLtM6IKLDTFVEnuAz&usqp=CAU" class="img-thumbnail rounded-circle" alt="avatar">
            <br>
            <br>Hình ảnh
          </div>
        </div>
        
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
         
          <form >
            <div class="form-group row">
              <label class="col-md-3 col-form-label">ID sản phẩm:</label>
              <div class="col-md-8 ">
                <label class="col-md-3 col-form-label">{{sanpham.id}}</label>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Tên sản phẩm:</label>
                <div class="col-md-8 ">
                  <label class="col-md-3 col-form-label">{{sanpham.name}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Danh mục:</label>
                <div class="col-md-8 ">
                  <label class="col-md-3 col-form-label">{{sanpham.categoryId}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Thương hiệu:</label>
                <div class="col-md-8 ">
                  <label class="col-md-3 col-form-label">{{sanpham.brandId}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Nội dung:</label>
                <div class="col-md-8 ">
                  <label class="col-md-3 col-form-label">{{sanpham.content}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Mô tả ngắn:</label>
                <div class="col-md-8 ">
                  <label class="col-md-3 col-form-label">{{sanpham.shortDescription}}</label>
                </div>
              </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"></label>
              <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="Thêm vào giỏ hàng">
                <span></span>
                <input type="reset" class="btn btn-default" [routerLink]="['/quanlysanpham']" value="Quay về" >
              </div>
            </div>
          </form>
        </div>
    </div>
          </div>    
          </div>
          </div>
          </div>
    </main>
  </div>