<div class="container-fluid">
    <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
    [showCaption]="false"></p-galleria>
</div>
<p-carousel #dv [value]="Danhmucs" [paginator]="true" [numVisible]="4" [numScroll]="3" [responsiveOptions]="responsiveOptions" [circular]="true">

<ng-template let-Danhmuc pTemplate="item">
    <div  class="ui-g-12 ">
        <p-panel [header]="Danhmuc.name" [style]="{'text-align':'center','vertical-align':'middle','display':'table-cell'}">
            <img src="https://www.pinclipart.com/picdir/middle/217-2172076_category-icons-price-tag-icon-transparent-clipart.png" width="120" style="display: table-cell; vertical-align: middle;">
            <div class="Danhmuc-detail">Danh mục : {{Danhmuc.name}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <div class="btn-group">
                <label class="btn btn-primary" (click)="selectDanhmuc($event, Danhmuc)" 
                       btnCheckbox tabindex="0" role="button"><a class="pi pi-search"></a></label>
                <label class="btn btn-success"  [routerLink]="['/quanlysanpham']" (click)="sangtrangSanpham($event, Danhmuc)"  
                       btnCheckbox tabindex="0" role="button">Truy cập</label>
            </div>
        </p-panel>
    </div>
</ng-template>
</p-carousel>